# Core functionality - changes here should be rare!
/src/app.py                   @anya230306
/src/backend/database.py      @anya230306
/src/backend/routers/auth.py  @anya230306

# The frontend will need refactored soon to be more object oriented.
/src/static/   @anya230306
